# Python Virtual Environment
venv/
env/
.venv/

# Python Build & Distribution Artifacts
build/
dist/
*.egg-info/
.eggs/
*.spec

# Jupyter Notebooks
.ipynb_checkpoints

# Python Bytecode
__pycache__/
*.py[cod]
*$py.class

# Python Build Artifacts
*.o
*.obj
*.so
*.dll
*.dylib
*.exe
*.out
*.app

# IDE Settings
.vscode/
.idea/

# Operating System Files
.DS_Store
Thumbs.db